{% extends 'todo/base.html' %}
{% load static %}

{% block page %}
    <section class="u-clearfix u-section-1" id="sec-c361">
        <div class="u-clearfix u-sheet u-sheet-1">
            <img class="u-align-center u-text u-text-1" width="200" height="200"
                 src="{% if user.image %} {{ user.image.url }} {% else %} {% static 'images/def-avatar.png' %} {% endif %}">

            <form action="{% url 'cabinet' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div>
                    <label class="u-align-center u-text u-text-1" for="{{ form.image.id_for_label }}">Выбрать
                        аватарку:</label>
                    {{ form.image }}
                </div>
                <div>
                    <label class="u-align-center u-text u-text-1" for="{{ form.username.id_for_label }}">Логин:</label>
                    {{ form.username }}
                </div>
                <div>
                    <label class="u-align-center u-text u-text-1" for="{{ form.email.id_for_label }}">Email:</label>
                    {{ form.email }}
                </div>
                <div>
                    <input type="submit" value="Сохранить" class="add-button" name="save-cabinet">
                </div>
            </form>
            {% if user.is_superuser or user.is_staff %}
                <a href="{% url 'admin:index' %}">Админка</a>
            {% endif %}

            <form action="{% url 'cabinet' %}" method="POST">
                {% csrf_token %}
                <div class="u-clearfix u-sheet u-sheet-1">
                    <input type="submit" value="Выйти из аккаунта" class="quit-button" name="quit">
                </div>
            </form>
        </div>
    </section>
{% endblock %}
