{% extends 'user/login_base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<h2>Login</h2>
<form action="{% url 'login' %}" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
{#    <label for="username">Username:</label>#}
{#    <input type="text" id="username" name="username" required>#}
{#    <br>#}
{#    <label for="password">Password:</label>#}
{#    <input type="password" id="password" name="password" required>#}
{#    <br>#}
      <input type="submit" value="Войти">
</form>
{% endblock %}