{% extends 'todo/base.html' %}
{% load static %}

{% block page %}
    <section class="u-clearfix u-section-1" id="sec-c361">
        <div class="u-clearfix u-sheet u-sheet-1">
            <h1 class="u-align-center u-text u-text-default u-text-1">TODO({{ user }}):</h1>

            {% if is_tasks %}
                <div class="u-clearfix u-sheet u-sheet-1">
                    <ul>
                        {% for task in tasklist %}
                            <li>
                                <p>{{ task.task }}
                                    <a class="delete-button" href={% url "delete_task" task.id %}>Удалить</a>
                                    <a class="{% if task.state == 'in progress' %}in-progress-button{% else %}complete-button{% endif %}"
                                       href={% url "change_state" task.id %}>{% if task.state == 'in progress' %}В процессе{% else %}Завершено{% endif %}</a>
                                </p>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            <div class="u-form u-form-1">
                <form action='{% url 'todolist' %}' method="post">
                    {% csrf_token %}
                    <h3>Добавить дело:</h3>
                    <label>
                        <textarea rows="3" cols="50" name="post_contents"></textarea>
                    </label>
                    <input type="submit" value="Добавить дело" class="add-button">
                </form>
            </div>
        </div>
    </section>
{% endblock %}




