{% extends 'todo/base.html' %}
{% load static %}

{% block page %}
    <section class="u-clearfix u-section-1" id="sec-c361">
        <div class="u-clearfix u-sheet u-sheet-1">
            <h1 class="u-align-center u-text u-text-default u-text-1">TODO({{ user }}):</h1>

            {% if is_tasks %}
                <div class="u-clearfix u-sheet u-sheet-1">
                    <h3 class="u-align-center u-text u-text-default u-text-1">ЗАДАЧИ</h3>
                </div>
            {% endif %}

            <div class="u-form u-form-1">
                <form onSubmit="db" method="post">
                    <h3>Добавить дело:</h3>
                    <textarea rows="3" cols="50" name="post_contents"></textarea>
                    <input type="submit" value="Добавить дело">
                </form>
            </div>
        </div>
    </section>
{% endblock %}




