.delete-button {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.in-progress-button {
    background-color: orange;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.add-button {
    background-color: green;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.complete-button {
    background-color: lightgreen;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.quit-button {
    background-color: darkred;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.u-section-1 .u-sheet-1 {
  min-height: 784px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 141px auto 0;
}

.u-section-1 .u-form-1 {
  width: 570px;
  margin: 30px auto 60px;
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    width: 340px;
  }
}